<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense tracerk app</title>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Zetta&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    
</head>
<body>
    <nav class="sidebar">
        <img class="piggybank" src="icons/money (1).png">
        <p class="logo">EXPENSE TRACKER</p>
        <p class="user-nav"></p>
        <p class="logout logoutHidden">LOGOUT</p>
        <ul class="nav-links">
            <li class="login">LOGIN</li>
            <li class="register">REGISTER</lic>
        </ul>
            
        
        
    </nav>
    <div class="wrapper">
        <div class="form-wrapper hidden login-wrapper">
                <p class="x">X</p>
                <h1> ACCOUNT LOGIN</h1>
            
            <form>

                <div class="uk-margin">
                    <div class="uk-inline">
                        <span class="uk-form-icon" uk-icon="icon: user"></span>
                        <input class="uk-input" placeholder="email" id="account" type="text">
                    </div>
                </div>
            
                <div class="uk-margin">
                    <div class="uk-inline">
                        <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                        <input class="uk-input" placeholder="password" id="password" type="password">
                    </div>
                </div>
            
            </form>
            <p class="error"></p>
            <button id="login-btn" onclick="logInUser()">LOGIN</button>
        </div>
        <div class="form-wrapper hidden register-wrapper">
            <p class="x2">X</p>
            <h1>CREATE NEW ACCOUNT</h1>
        
        <form>

            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                    <input class="uk-input" placeholder="email" id="account-register" type="text">
                </div>
            </div>
        
            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                    <input class="uk-input" placeholder="password" id="password-register" type="password">
                </div>
            </div>
        
        </form>
        <p class="error"></p>
        <button id="register-btn" onclick="addUser()">REGISTER</button>
    </div>
        <div class="content">
           
            <div class="charts">
                <div class="canvas-container">
                    <canvas id="myChart"></canvas>
                </div>
                
                <div class="current-balance"></div>
            </div>
           <p>Add new expense</p>
            <div class="add-block">
                <div class="uk-button-group">
                    <button class="uk-button uk-button-secondary category" >Category</button>
                    <div class="uk-inline">
                        <button class="uk-button uk-button-secondary yellow"  type="button"><span class="ui-arrow" uk-icon="icon:chevron-down; ratio: 1.5" ></span></button>
                        <div uk-dropdown="mode: click; boundary: ! .uk-button-group; boundary-align: true;">
                            <ul class="uk-nav uk-dropdown-nav">
                                
                                <li>
                                    <image src="icons/fork.png"></image>
                                    <label for="food">Food</label>
                                    <input type="radio" id="food" name="radio">
                               
                               
                                <li class="uk-nav-divider"></li>
                                
                                    <image src="icons/drink.png"></image>
                                    <label for="party">Party</label>
                                    <input type="radio" id="party" name="radio">
                               
                                <li class="uk-nav-divider"></li>
                                <li>
                                    <image src="icons/shirt.png"></image>
                                    <label for="clothes">Clothes</label>
                                    <input type="radio" id="clothes" name="radio">
                                </li>
                                
                                
                            </ul>
                        </div>
                    </div>body{
    margin:0;
    font-family: 'Montserrat', sans-serif;

}
.charts{
    display: flex;
    flex-direction: row;
   
}
.canvas-container{
    margin-top: 10vh;
    width: 500PX;
    height:300px;
}
/*sidebar*/
.nav-links{
    margin-left: 40vw;
    color: white;
   text-decoration: none;
   list-style: none;
   font-family: 'Lexend Zetta', sans-serif;
}
.nav-links li{
    display: inline-block;
    cursor: pointer;
  
}
.login{
    margin-right: 5vw;
}
.sidebar{
    height: 12vh;
    width:100vw;
    background-color:black;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.piggybank{
    margin-left: 3vw;
    width:5vw;
    margin-bottom: 1.5vh;
}
.logo{
    margin-left: 2vw;
    color: white;
    font-family: 'Lexend Zetta', sans-serif;

}
/*main content*/
.wrapper{
    
    width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.content{
    
    width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.add-block{
    width:40vw;
    height: 15vh;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color:white;
    margin-bottom: 10vh;
    box-sizing: border-box;
     box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);    
}
.transaction{
    font-weight: bold;
    font-size: 1vw;
    margin-top: 3vh;
    width:20vw;
    height: 15vh;
    background-color: white;
    color: black;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.current-balance{
    width:200px;
    height:200px;
    background-color: black;
    border-radius: 50%;
    margin-bottom: 10vh;
    color:white;
    display: flex;
    flex-direction: column;
    margin-top: 14vh;
    align-items: center;
    
    font-size: 1.2vw;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}
.current-balance:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}



#bt1:hover{
    background-color: white;
    color: black;
    border: black solid 2px;
}
#bt1{
    background-color: #feb236;
    border: black 2px solid;
    color:white;
    width: 7vw;
    height: 4.4vh;
    font-size: 15px;
    border:none;
    transition: .6s;
    margin-right: 3vw;
    cursor: pointer;
    font-family: 'Lexend Zetta', sans-serif;
    margin-left: 3vw;
    
}

.inp{
    width: 5vw;
    height: 3vh;
    margin-right: 2vw;
    border: none;
    border-bottom: black 1px solid;
}

.category:hover{
    background-color: #feb236;

}
.category{
    background-color: #feb236;
    color: white;
    font-family: 'Lexend Zetta', sans-serif;
    transition: .6s;
}
.yellow{
    background-color: #feb236;
    color: white;
    font-family: 'Lexend Zetta', sans-serif;
    transition: .6s;
}
.yellow:hover{
    background-color: #feb236;    
    
}

.form-wrapper{
    margin-top: 10vh;
    width: 40vw;
    height: 60vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: ease-in-out;
    border-radius: 30px 30px 30px 30px;
    transition: .6s;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.hidden{
    display: none;
}

.x{
    margin-top: 3vh;
    margin-left: 30vw;
    font-size: 2vw;
    cursor: pointer;
}
.x2{
    margin-top: 3vh;
    margin-left: 30vw;
    font-size: 2vw;
    cursor: pointer;
}
#register-btn{
    background-color: black;
    color: white;
    border: white 1px solid;
    width:8vw;
    height: 6vh;
    transition: 0.5s;
    font-family: 'Lexend Zetta', sans-serif;
    font-weight: bolder;
    cursor: pointer;
}
#register-btn:hover{
    background-color: white;
    color: black;
    
}
H1{
    font-size: 1.3vw;
}
#login-btn{
    background-color: black;
    color: white;
    border: white 1px solid;
    width:8vw;
    height: 6vh;
    transition: 0.5s;
    font-family: 'Lexend Zetta', sans-serif;
    font-weight: bolder;
    cursor: pointer;
}
#login-btn:hover{
    background-color: white;
    color: black;
    
}
.user-nav{
    margin-left: 8vw;
    color: white;
}
.logoutHidden{
    display: none;
}
.logout{ 
    color: white;
    margin-left: 3vw;
    cursor: pointer;
}
.arrow-down{
    width: 1vw;
    margin-left: 1vw;
    margin-bottom: 0.4vh;
    cursor: pointer;
}
.p-balance{
    margin-top: 4vh;
}
.p-number{
    margin-bottom: 10vh;
}

@media(max-width:750px){
    .charts{
        flex-direction: column;
        align-items: center;
    }
    .logo{
        display: none;
    }
    .piggybank{
        width:10vw;
    }
    .current-balance{
        font-size: 5vw;
    }
    .add-block{
        width: 90vw;
    }
    .inp{
        width: 12vw;
        height: 5vh;
    }
    .arrow-down{
        width: 3vw;
    }
    .transaction{
        width: 80vw;
        height: 20vh;
        margin-right: 7vw;
        font-size:3.8vw;
    }
    #bt1{
        width:18vw;
        height: 6vh;
    }
    .yellow{
        background-color: #feb236;
    }
    .category{
        display: none;
    }
    .form-wrapper{
        width: 90vw;
    }
    #login-btn{
        width: 25vw;
    }
    #register-btn{
        width:30vw;
    }
    h1{
        font-size: 4.2vw;
        color: lightgrey;
        font-family: 'Lexend Zetta', sans-serif;

    }
    .x{
        font-size: 6vw;
        margin-left: 70vw;
    }
    .x2{
        font-size: 6vw;
        margin-left: 70vw;
    }
    .nav-links{
        display: none;
    }
    .CHARTS{
        width: 100vw;
    }
    .canvas-container{
        width: 100vw;
        height: 170px;
    }
    .current-balance{
        width: 180px;
        height: 180px;
    }
   
}
                </div>
                <button id="bt1">ADD</button>
                <input class="inp" type="text" id="value" name="amount">
                
            </div>
            <p>TRANSACTION LIST <img class="arrow-down" src="icons/down-arrow.png"></p>
            <ul class="transactions hidden"></ul>
         
        </div>
    </div>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.16.1/firebase.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-functions.js"></script>


<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyDpSvAAFey1u29dOK_X2uOrIW_ja9tsTK4",
    authDomain: "expense-tracker-bf6fd.firebaseapp.com",
    databaseURL: "https://expense-tracker-bf6fd.firebaseio.com",
    projectId: "expense-tracker-bf6fd",
    storageBucket: "expense-tracker-bf6fd.appspot.com",
    messagingSenderId: "1050371064936",
    appId: "1:1050371064936:web:aeba0520bb26839fbb27dd",
    measurementId: "G-EC9XRTW5PX"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();

 
</script>
<script src="index.js"></script>
</body>
</html>
